<img src="{{url}}"/>
<div class="content">
    <h3>Essential Building Blocks for a Personalized, Digital Investment Experience</h3>
    <ul>
      <li>Interactive, goal-based investor questionnaire</li>
      <li>Automated portfolio construction engine</li>
      <li>Intelligent screening technology to capture human capital, held-away assets and SRI/ESG investing preferences.</li>
      <li>Predictive analytics to project likelihood of reaching goals.</li>
      <li>Real-time what-if scenarios</li>
      <li>Auto-rebalancing</li>
      <li>Automated tax loss and gain harvesting</li>
      <li>Personalized, custom-branded client and advisor portals</li>
    </ul>
</div>
