header {
    height: 70px;
    background-color: var(--header-bg-color);
}

h2 {
    margin: 0;
    padding: 20px;
    color: var(--header-text-color);
}

.switch {
    position: absolute;
    right: 15px;
    line-height: 70px;
    top: 0px;
    color: var(--header-text-color);
}