:host( .light-theme ) {
    --background-color: #ffffff;
    --color: #333333;
    --header-bg-color: brown;
    --header-text-color: #e5e5e5;
    --footer-bg-color: #555555;
    --footer-text-color: #e5e5e5;
}

:host( .dark-theme ) {
    --background-color: #444444;
    --color: #f0f0f0;
    --header-bg-color: #009aab;
    --header-text-color: #e5e5e5;
    --footer-bg-color: #111111;
    --footer-text-color: #e5e5e5;
}

:host {
    background-color: var( --background-color );
    color: var( --color );
    display: block;
    font-size: 18px;
    min-height: 100vh;
    padding: 0;
}