/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    height: 100vh
}

/* :root {
    --primary-color: #fff;
    --background-color: #e5e5e5;
    --text-color: #2d2d2d;
    --header-bg-color: brown;
    --header-text-color: #eeeeee;
    --footer-bg-color: #555555;
  } */
